@media only screen and (max-width: 767px) {
  .my-introduction {
    padding-left: 60px;
  }
  .services-items .card {
    margin-bottom: 14px;
    width: 341px;
    min-height: 106px;
  }
  .portfolio-card .card {
    /* display: flex; */
    max-width: 250px;
    margin: auto;
    margin-top: 14px;
  }
  .pricing-items .card {
    width: 70%;
    height: 97%;
    margin: auto;
  }
  .form-row {
    text-align: center;
  }
  .blog-img {
    width: 60%;
    margin: auto;
  }
  .blog {
    margin-bottom: 14px;
  }
}
