h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 1000;
  font-family: "Baloo Paaji", cursive;
  color: var(--section-heading);
}
p {
  font-size: 1em;
  font-weight: 100;
  opacity: 1;
  color: #111;
  letter-spacing: 0.6px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
