@import url('https://fonts.googleapis.com/css?family=Baloo+Paaji|Open+Sans:300,300i,400,400i,600,600i,700,700i');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 1000;
  font-family: "Baloo Paaji ", cursive;
  color: var(--section-heading);
}
p {
  font-size: 1em;
  font-weight: 100;
  opacity: 1;
  color: #111;
  letter-spacing: 0.6px;
}
p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.portfolio-card .card-body{
min-height: 278px;
}
.school-logo{
  width: 100px;
  height: ;
}